body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(208, 55, 232, 1) 9%,
    rgba(117, 9, 121, 1) 35%,
    rgba(128, 15, 120, 1) 61%,
    rgba(241, 11, 230, 1) 92%
  );
  border-radius: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}
input {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
